.PageContainer {
    display: grid;
    background-color: #f4f8fc; gap: 20px; justify-items: center;
}.LogoImg{height: 70px; border-radius: 50%;} .Flex {display: flex; gap: 20px;}.TopicsContainer {display: grid; gap: 10px;}.TopicCard{background-color: rgb(198, 218, 215); border-radius: 4px; width: 250px;}.TopicBody {padding: 4px 10px;}.AddButton {background-color: transparent; border: none;}.VoteContainer {display: flex; gap: 5px; justify-content: space-between;}